fieldset.education {
  margin-bottom: 10px;
}

ul.education {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.education > li {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

ul.education > li > div:first-child {
  display: flex;
  justify-content: space-between;
}

div.school,
div.curriculum,
div.educationStart,
div.educationEnd,
div.educationDescription {
  display: flex;
  flex-direction: column;
}

ul.education > li > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
}

textarea.education {
  resize: none;
  height: 100px;
  overflow: scroll;
}

button.education {
  margin-bottom: 10px;
}
