ul.misc {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.misc > li {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

ul.misc > li > div:first-child,
ul.misc > li > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
}

div.organization,
div.miscPosition,
div.miscStart,
div.miscEnd,
div.miscDescription {
  display: flex;
  flex-direction: column;
}

textarea.misc {
  resize: none;
  height: 100px;
  overflow: scroll;
}

button.misc {
  margin-bottom: 10px;
}
